$primary-color: #1DA1F2;
$primary-button-color: #37A2E3;
$primary-hover-color: #1A91DA;
$sec-button-hover-color: #E8F5FE;
$border-color: #D2DBE0;
$error-color: #E0245E;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 30%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


@mixin button-init {
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
}

@mixin button-custom($back_color, $font-color, $back-hover-color, $font-hover-color, $radius: 2rem, $weight: bold) {
    @include button-init();
    color: $font-color;
    background-color: $back_color;
    font-weight: $weight;
    border-radius: $radius;
    &:hover {
        @include button-hover($back-hover-color, $font-hover-color);
    }
}

@mixin button-hover($back_color, $font-color, $time: 0.3s) {
    color: $font-color;
    background-color: $back_color;
    transition-duration: $time;
    box-shadow: rgba(0, 132, 255, 0.1) 0px 0.25rem 1rem;
}