@import "./Common.scss";

.Home-container {
    height: 100%;
}

.TweetFactory-container {
    height: 20%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    input[type=text] {
        border: none;
        outline: none;
        font-size: 1.8rem;
        font-weight: bold;
    }
    input[type=submit] {
        align-self: flex-end;
        font-size: 1rem;
        padding: 0.6rem 1.0rem;
        @include button-custom($primary-button-color, white, $primary-hover-color, white);
    }

    input[type=submit]:disabled {
        cursor: context-menu;
        opacity: 0.6;
        box-shadow: none;
        &:hover {
            background-color: $primary-button-color;
        }
    }
}